.popupDiv {
    text-align: center;
}

#rootDiv {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

textarea {
    display: block;
    width: 45em;margin-bottom: 0.5em;
}